@charset "UTF-8";
.button_like {
  font-size: 350%;
  cursor: pointer;
  color: lightgrey;
  vertical-align: middle;
}

.button_like:hover {
  color: #d9756c;
}

.button_like:active {
  color: #d9756c;
}

.orders_i {
  font-size: 1.7em;
}

.cont_all {
  max-width: 1400px;
  margin: auto;
  padding: 0em 1em;
}

@media (max-width: 762px) {
  .bord_radius {
    border-radius: .25rem;
  }
}

@media (max-width: 762px) {
  .bord_radius > .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}

@media (max-width: 576px) {
  .bord_radius_sm > .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}

@media (min-width: 576px) {
  .mr-1_sm:nth-child(2n+1) {
    padding-right: 1rem;
    padding-left: 0rem;
  }
  .mr-1_sm:nth-child(2n) {
    padding-right: 0rem;
    padding-left: 1rem;
  }
}

.li_padding_02em > li {
  padding: .2em;
}

.h_img {
  max-height: 10em;
  max-width: 16em;
  margin-right: 1em;
  margin-top: 1em;
}

.rating-result span {
  padding: 0;
  font-size: 3em;
  line-height: 1;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
  content: '★';
}

.rating-result > span.active {
  color: #f77a7a;
  text-shadow: 1px 1px #c60;
}

.rating-area {
  overflow: hidden;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  float: right;
  width: fit-content;
  padding: 0;
  cursor: pointer;
  font-size: 60px;
  line-height: 50px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: '★';
}

.rating-area > input:checked ~ label {
  color: #f77a7a;
  text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #f77a7a;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #f77a7a;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}

.scroll_table {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .scroll_table {
    width: 100%;
    overflow: scroll;
  }
}

.chat {
  padding: .4rem;
}

.chat_h_img {
  max-height: 5em;
  max-width: 10em;
  margin-right: .5em;
  margin-top: .5em;
}

.chat_panel_sticky {
  height: 15em;
  border: solid 0.5em #bae1fc;
  background-color: #bae1fc;
}

.chat_panel_sticky_i {
  font-size: 2rem;
  color: #5bb0be;
  cursor: pointer;
}

.chat_panel_sticky_i:hover {
  color: #127477;
}

.chat_panel_sticky_clip {
  width: 2.5em;
  height: 2.5em;
  margin: 1.65em 0.2em;
  cursor: pointer;
  border: 1px solid #cacafa;
}

.chat_panel_sticky_clip_i {
  font-size: 1.5rem;
  cursor: pointer;
  margin: auto;
}

.chat_panel_sticky_arrow {
  width: 2.5em;
  height: 2.5em;
  margin: 1.65em 0.2em;
  cursor: pointer;
}

.chat_panel_sticky_arrow_i {
  font-size: 1.5rem;
  cursor: pointer;
}

.chat_panel_sticky_textarea {
  padding: .4em;
  resize: none;
  border: 1px solid #cacafa;
  width: calc(100% - 1em);
}

.chat_left {
  display: flex;
  flex-direction: row;
}

.chat_right {
  display: flex;
  flex-direction: row-reverse;
}

.chat_comment {
  max-width: 80%;
  margin-bottom: 2em;
}

.chat_comment_date_left {
  text-align: start;
  padding-bottom: .6em;
  font-size: 70%;
  letter-spacing: .1em;
}

.chat_comment_date_right {
  text-align: end;
  padding-bottom: .6em;
  font-size: 70%;
  letter-spacing: .1em;
}

.chat_comment_bubble_left {
  background: #ebebff;
  position: relative;
  border-radius: 16px;
  margin-left: 2em;
  padding: 1em;
}

.chat_comment_bubble_left:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 25px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 18px solid #ebebff;
  border-bottom: 12px solid transparent;
}

.chat_comment_bubble_right {
  background: #bae1fc;
  position: relative;
  border-radius: 16px;
  margin-right: 2em;
  padding: 1em;
}

.chat_comment_bubble_right:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 25px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 18px solidrgb(186, 225, 252);
  border-bottom: 12px solid transparent;
}

.input__wrapper {
  width: 14em;
  margin-right: .25em;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 10em;
  left: 0;
}

.input__file-icon-wrapper {
  width: 60px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
  font-size: 80%;
}

.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 2em;
  background: #5bb0be;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0em 3px;
}

#main {
  width: 3em;
}

#sidebar {
  width: 3em;
}
/*# sourceMappingURL=style.css.map */