.button_like {
    font-size: 350%;
    cursor: pointer;
    color: lightgrey;
    vertical-align: middle;
}
.button_like:hover {
    color: rgb(217, 117, 108);
}
.button_like:active {
    color: rgb(217, 117, 108);
}
.orders_i {
    font-size: 1.7em;
}
.cont_all {
    max-width: 1400px; 
    margin:auto;
    padding: 0em 1em;
}

@media (max-width: 762px) {
    .bord_radius {
        border-radius: .25rem;
    }
}


    .bord_radius>.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle)  {

        @media (max-width: 762px) {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
    }



    .bord_radius_sm>.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle)  {

        @media (max-width: 576px) {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
    }





@media (min-width: 576px) {
    .mr-1_sm {
        &:nth-child(2n+1) {
            padding-right: 1rem;
            padding-left: 0rem;  
        }
        &:nth-child(2n) {
            padding-right: 0rem;
            padding-left: 1rem;  
        }
    }
}







    .li_padding_02em > li{ 
        padding: .2em;
    }


    .h_img {
        max-height: 10em;
        max-width: 16em;
        margin-right: 1em;
        margin-top: 1em;
    }

    .rating-result span {
        padding: 0;
        font-size: 3em;
        line-height: 1;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }
    .rating-result > span:before {
        content: '★';
    }
    .rating-result > span.active {
        color: #f77a7a;
        text-shadow: 1px 1px #c60;
    }





    .rating-area {
        overflow: hidden;
        // width: 265px;
        // width: 20em;
        // margin: 0 auto;
    }
    .rating-area:not(:checked) > input {
        display: none;
    }
    .rating-area:not(:checked) > label {
        float: right;
        width: fit-content;
        padding: 0;
        cursor: pointer;
        font-size: 60px;
        line-height: 50px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }
    .rating-area:not(:checked) > label:before {
        content: '★';
        // content: '✪';
        
    }
    .rating-area > input:checked ~ label {
        color: #f77a7a;
        text-shadow: 1px 1px #c60;
    }
    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color:#f77a7a;
    }
    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: #f77a7a;
        text-shadow: 1px 1px goldenrod;
    }
    .rate-area > label:active {
        position: relative;
    }

    







    // .form-signin {
    //     width: 100%;
    //     max-width: 420px;
    //     padding: 15px;
    //     margin: auto;
    //   }
      
    //   .form-label-group {
    //     position: relative;
    //     margin-bottom: 1rem;
    //   }
      
    //   .form-label-group > input,
    //   .form-label-group > label {
    //     height: 3.125rem;
    //     padding: .75rem;
    //   }
      
    //   .form-label-group > label {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: block;
    //     width: 100%;
    //     margin-bottom: 0; /* Override default `<label>` margin */
    //     line-height: 1.5;
    //     color: #495057;
    //     pointer-events: none;
    //     cursor: text; /* Match the input under the label */
    //     border: 1px solid transparent;
    //     border-radius: .25rem;
    //     transition: all .1s ease-in-out;
    //   }
      
    //   .form-label-group input::-webkit-input-placeholder {
    //     color: transparent;
    //   }
      
    //   .form-label-group input:-ms-input-placeholder {
    //     color: transparent;
    //   }
      
    //   .form-label-group input::-ms-input-placeholder {
    //     color: transparent;
    //   }
      
    //   .form-label-group input::-moz-placeholder {
    //     color: transparent;
    //   }
      
    //   .form-label-group input::placeholder {
    //     color: transparent;
    //   }
      
    //   .form-label-group input:not(:placeholder-shown) {
    //     padding-top: 1.25rem;
    //     padding-bottom: .25rem;
    //   }
      
    //   .form-label-group input:not(:placeholder-shown) ~ label {
    //     padding-top: .25rem;
    //     padding-bottom: .25rem;
    //     font-size: 12px;
    //     color: #777;
    //   }
      
    //   /* Fallback for Edge
    //   -------------------------------------------------- */
    //   @supports (-ms-ime-align: auto) {
    //     .form-label-group > label {
    //       display: none;
    //     }
    //     .form-label-group input::-ms-input-placeholder {
    //       color: #777;
    //     }
    //   }
      
    //   /* Fallback for IE
    //   -------------------------------------------------- */
    //   @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //     .form-label-group > label {
    //       display: none;
    //     }
    //     .form-label-group input:-ms-input-placeholder {
    //       color: #777;
    //     }
    //   }












.scroll_table {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .scroll_table {
    width: 100%;
    overflow: scroll;
  }
}