.button_like {
    font-size: 350%;
    cursor: pointer;
    color: lightgrey;
    vertical-align: middle;
}
.button_like:hover {
    color: rgb(217, 117, 108);
}
.button_like:active {
    color: rgb(217, 117, 108);
}
.orders_i {
    font-size: 1.7em;
}
.cont_all {
    max-width: 1400px; 
    margin:auto;
    padding: 0em 1em;
}

@media (max-width: 762px) {
    .bord_radius {
        border-radius: .25rem;
    }
}


 
// .input-group >.input-group-append >.bord_radius:nth-child(1) {

//         @media (max-width: 762px) {
//             // border-radius: .25rem;
//             border-top-right-radius: .25rem;
//             border-bottom-right-radius: .25rem;
//         }

//     }

    .bord_radius>.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle)  {

        @media (max-width: 762px) {
            // border-radius: .25rem;
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
    }



    .bord_radius_sm>.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle)  {

        @media (max-width: 576px) {
            // border-radius: .25rem;
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
    }